:root {
  --background_color: rgba(24, 115, 231, 0.1);
  --white_color: #ffffff;
  --dark_gray_color: #3d535f;
  --violet_color: #7f00ff;
  --inactive_color: #b3ddff;
  --active_color: #41a9ff;
  /* --title_color: #1873e7; */
  --black_color: #000;
  --light_blue_color: #0c47cb;
  /* --avatar_color_1: #ffd37e; */
  --post_color: #232a30;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  background: var(--background_color);
}

.main {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 20px;
}

.filter--section {
  background-color: var(--white_color);
}
.cards--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  cursor: pointer;
}
.character {
  background-color: var(--white_color);

  border: var(--light_blue_color) solid 3px;
  border-radius: 10px;
  position: relative;
}
.name {
  font-family: 'Redressed';
  font-weight: 900;
  font-size: 40px;
  line-height: 1.5rem;
  padding: 10px;
}
.status {
  top: 15px;
  right: 20px;
  color: var(--white_color);
  font-size: 30px;
  font-weight: 900;
  font-family: 'roboto';
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 0px 20px;
  position: absolute;
  border-radius: 10px;
}
.image--container img {
  width: 100%;
}
.gender {
  font-size: 30px;
  color: var(--dark_gray_color);
  padding: 10px;
  font-family: 'Roboto';
}
